<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>cookBook</title>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
</head>
<body class = "welcomeBody">

<h1 id = "welcomeTitle">Welcome to cookBook!</h1>
<h3 id="welcomeText">Discover new recipes and make new friends :)</h3>
<div id="authContainer" style="text-align: right; margin-right: 15%;">
    <h2 id="signUpText">Please sign up.</h2>
    <a id="alreadyHave" href="/welcome">Already have an account?</a>
</div>
</body>
</html>